/*=============== GOOGLE FONTS ===============*/
@import url(/fonts/oxanium.css);

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --main-color: #121212;
  --secondary-color: #1e1e1e;
  --light-third: #e0e0e0;

  --background-color: #121212;
  --container-background: #1e1e1e;
  --navbar-color: #1e1e1e;

  --font-color: #e0e0e0;
  --white: #e0e0e0;

  --shadow: 1px 1px 18px #080808;
  --standard-transition: all 1s ease;

  /*========== Hover project image ==========*/
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);

  /*========== Page Loader ==========*/
  --purple: #8a2387;
  --pinkish: #e94057;
  --orangeish: #c94b4b;
  --background-left: #121212;
  --background-right: #121212;

  --conic-gradient: conic-gradient(
    var(--pinkish),
    var(--orangeish),
    var(--purple),
    var(--pinkish)
  );

  /*========== Font and typography ==========*/
  --body-font: "Oxanium", sans-serif;

  --h1-font-size: 2.25em;
  --h2-font-size: 1.5em;
  --h3-font-size: 1.25em;
  --smaller-font-size: 0.813em;
  --small-font-size: 0.875em;
  --normal-font-size: 1em;
  --medium-font-size: 1.5em;
  --big-font-size: 3.125em;
  --biggest-font-size: 4em;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-navbar: 6;

  /*========== Transitions ==========*/
  --standard-transition: all 0.5s ease;
}

/*=============== UNI ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--background-color);
  height: 100vh;
  color: var(--font-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body::-webkit-scrollbar {
  display: none;
}

.diabled--scroll {
  overflow-y: hidden;
}

/*=============== NAVBAR ===============*/
.navbar__button {
  position: fixed;
  z-index: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: var(--standard-transition);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0;
}

.navbar__button {
  background-color: var(--navbar-color);
  z-index: 99;
  border-radius: 50%;
  margin: 2em;
  width: 5em;
}

.button__rotate.active {
  transform: rotate(45deg);
}

.navbar__button--line {
  fill: none;
  transition: var(--standard-transition);
  stroke: var(--white);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.navbar__button .button__line--top {
  stroke-dasharray: 40 139;
}
.navbar__button .button__line--bottom {
  stroke-dasharray: 40 180;
}
.navbar__button.active .button__line--top {
  stroke-dashoffset: -6.125em;
}
.navbar__button.active .button__line--bottom {
  stroke-dashoffset: -8.625em;
}

.content__navbar--wrapper {
  position: fixed;
  z-index: 98;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: var(--navbar-color);
  transition: var(--standard-transition);
  text-align: center;
}

.content__navbar--wrapper.active {
  transform: translateX(0%);
}

.content__navbar--list a {
  font-size: var(--big-font-size);
  color: var(--white);
}

.content__navbar--list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar__list--item {
  position: relative;
  margin: 4em 0;
}

.navbar__list--item::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 0;
  transition: var(--standard-transition);

  border: 1px transparent;
  background-image: linear-gradient(90deg, #c94b4b, #8a2387, #e94057, #c94b4b);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.navbar__list--item:hover::before {
  width: 100%;
}

/*=============== SOCIAL LINKS ===============*/
.content__social-links {
  position: fixed;
  top: 75vh;
  right: 2%;
  z-index: 1001;
}

.content__social-links li {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background: var(--background-color);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.content__social-links::before {
  content: "";
  position: absolute;
  width: 0.1;
  left: 50%;
  bottom: -10vh;
  height: 5em;
  border: 1px solid rgba(246, 243, 237, 0.8);
}

.content__social-links ul {
  list-style-type: none;
}

.content__social-links .fab {
  font-size: 1.6em;
  color: #ecf5fe;
  transition: var(--standard-transition);
}

.content__social-links a:hover .fab {
  scale: 1.1;
  opacity: 0.95;
}

.content__social-links--hide {
  display: none;
}

/*=============== PAGE LOADER ===============*/
.page__loader {
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 1s ease;
  overflow: hidden;
}

.page__loader--button {
  position: absolute;
  z-index: 4;
  width: 30em;
  height: 3.75em;
  border-radius: 0.6em;
  padding-top: 1em;
  font-size: var(--h1-font-size);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page__loader--animate {
  opacity: 0;
}

.loader__circle--animate {
  animation: circleScale 1s;
}

.loader__circle {
  animation: rotate 10s linear infinite;
  background: var(--conic-gradient);
  border-radius: 70vh;
  display: grid;
  filter: blur(2.5vh);
  height: 70vh;
  place-items: center;
  position: relative;
  width: 70vh;
}

.loader__circle--inner {
  border-radius: inherit;
  inset: 5%;
  position: absolute;
}

.loader__circle--glow {
  animation: pulse 10s ease-in-out infinite;
  background: var(--conic-gradient);
  border-radius: 100vh;
  filter: blur(3vh);
  height: 120%;
  opacity: 0.25;
  width: 120%;
  z-index: 2;
}

.loader__circle--inner {
  background: linear-gradient(
    to right,
    var(--background-left),
    var(--background-right)
  );
  z-index: 3;
}

@keyframes circleScale {
  from {
    transform: scale(1);
  }
  to {
    scale: 5;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from,
  20%,
  40%,
  80%,
  to {
    transform: scale(1);
  }

  10%,
  60% {
    transform: scale(1.1);
  }
}

/*=============== PAGE LAYOUT ===============*/
main {
  overflow: hidden;
  grid-area: content;
}

section,
header {
  min-height: 100vh;
}

/*======================================
                  HERO
======================================*/
.content__hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content__hero--content {
  text-align: center;
}

.content__hero--content h1,
h2 {
  overflow: hidden;
  height: auto;
  position: relative;
  font-size: var(--big-font-size);
  line-height: 1.2em;
  letter-spacing: 0.2em;
  z-index: 2;
  margin: 0;
}

.content__hero--content p {
  font-size: var(--medium-font-size);
}

.content__hero--particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100%;
  overflow: hidden;
}

#hero__particles {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  height: 40%;
  overflow: hidden;
}

.hero__particles--btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10em;
  margin: 0 auto;

  font-size: var(--small-font-size);
  color: var(--font-color);
  letter-spacing: 0.2em;
  text-transform: capitalize;
  width: 12em;
  height: 3em;
  background: linear-gradient(90deg, #c94b4b, #8a2387, #e94057, #c94b4b);
  background-size: 300%;
  border-radius: 2em;
  z-index: 1;
}

.hero__particles--btn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #c94b4b, #8a2387, #e94057, #c94b4b);
  background-size: 400%;
  border-radius: 2em;
  transition: 1s;
}

.hero__particles--btn:hover::before {
  filter: blur(1.1em);
}

.hero__particles--btn:hover {
  box-shadow: var(--conic-gradient);
}

.hero__particles--btn:hover {
  box-shadow: var(--conic-gradient);
}

.content__hero-arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 2em;
  animation: arrowDown 1.4s infinite linear;
}

.arrowHide {
  display: none;
}

@keyframes arrowDown {
  0% {
    transform: translateY(-5px);
    opacity: 0.4;
  }
  10% {
    transform: translateY(-2px);
    opacity: 0.6;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(4px);
    opacity: 0.4;
  }
  80% {
    transform: translateY(6px);
    opacity: 0;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0;
  }
}

/*======================================
                  ABOUT
======================================*/
.content__about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.content__about--title :not(.about__title--add) {
  font-size: var(--h1-font-size);
}

.about__title--add {
  font-size: var(--normal-font-size);
  margin-bottom: 3rem;
}

.about__list-wrapper--title {
  font-size: var(--h1-font-size);
  text-align: center;
}

.about__list-wrapper--end {
  font-size: var(--h3-font-size);
  margin-top: 1rem;
}

.content__about--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 3.225rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about__list--item {
  min-width: 30%;
  font-size: var(--h1-font-size);
  display: flex;
  margin: 1px 1px;
  justify-content: center;
  align-items: center;

  background: var(--container-background);
}

.about__list--item:nth-child(1) {
  border-radius: 1rem 0 0 0;
}
.about__list--item:nth-child(3) {
  border-radius: 0 1rem 0 0;
}
.about__list--item:nth-child(4) {
  border-radius: 0 0 0 1rem;
}
.about__list--item:nth-child(6) {
  border-radius: 0 0 1rem 0;
}

.about__list--item span {
  margin-left: 0.7rem;
  margin: 1.2rem 0;
}

/*======================================
                PROJECTS
======================================*/
.content__projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10em;
}

.projects__content--title {
  font-size: var(--h1-font-size);
  margin-bottom: 4em;
  display: block;
  text-align: center;
}

.content__projects--filters-list {
  text-align: center;
}

.content__projects--filters {
  margin-top: 1em;
}

.projects__filters--item {
  position: relative;
  list-style-type: none;
  display: inline;
  cursor: pointer;
  font-size: var(--normal-font-size);
  margin: 1em;
}

.projects__filters--item:after {
  content: "";
  position: absolute;
  height: 0.08em;
  width: 0;
  left: 0;
  bottom: -4px;
  background: var(--white);
  transition: var(--standard-transition);
}

.projects__filters--item:hover:after {
  width: 100%;
}

.projects__filters--item.active-filter {
  position: relative;
}

.projects__filters--item.active-filter:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 0.08em;
  background: var(--white);
  opacity: 1;
}

.content__projects--cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  max-width: 84em;
}

.projects__card--item {
  display: flex;

  margin: 1em;
  width: 28em;
  height: 28em;

  background: var(--background-color);
  border-radius: 0.25em;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.projects__card--content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card__content--image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
}

.donbon {
  background-image: url(../img/donbon.png);
}

.magic {
  background-image: url(../img/mtgapp.png);
}

.portfolio {
  background-image: url(../img/portfolio.png);
  background-size: 120%;
}

.stream {
  background-image: url(../img/inprogress.jpg);
}

.portfolio:hover {
  background-size: 125%;
}


.projects__card--item:hover .card__content--image:not(.portfolio) {
  background-size: 105%;
}

.card__content--image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card__content-bottom {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1em;
}

.card__content-bottom--title {
  color: var(--white);
  font-size: var(--h1-font-size);
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.card__content-bottom--desc {
  flex: 1 1 auto;
  font-size: var(--normal-font-size);
  line-height: 1.5;
  margin-bottom: 1.25em;
}

.card__content-bottom--button {
  font-size: var(--small-font-size);
  position: relative;
  color: var(--font-color);
  letter-spacing: 0.2em;
  width: 12em;
  height: 3em;
  line-height: 2em;
  background: var(--background-color);
  background-size: 90%;
  box-shadow: var(--shadow);
  background-size: 210%;
  border-radius: 2rem;
  transition: all 0.5s ease;
  -webkit-font-smoothing: antialiased;

  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(
      var(--background-color),
      var(--background-color)
    ),
    linear-gradient(90deg, #c94b4b, #8a2387, #e94057, #c94b4b);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.card__content-bottom--button:hover {
  background: linear-gradient(90deg, #c94b4b, #8a2387, #e94057, #c94b4b);
  background-size: 110%;
  scale: 1.03;
}

.card__content-bottom--button a {
  color: var(--font-color);
}

.card__content-bottom
  :not(.card__content-bottom--desc, .card__content-bottom--title) {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card__content-bottom {
  background: rgba(11, 12, 13, 0.9);
}

/*======================================
                  SKILLS
======================================*/
.content__skills {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content__skills--title {
  font-size: var(--h1-font-size);
  margin-bottom: 1em;
  display: block;
}

/*======================================
                  CONTACT
======================================*/
.content__contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content__contact-form--wrapper::after {
  width: 70vmin;
  height: 70vmin;
  position: relative;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate,
    spin 26s linear infinite reverse;
  transform-origin: 0% 2%;
}

.content__contact {
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  position: relative;
}

.content__contact::after {
  content: "";
  width: 35vmax;
  height: 35vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -40vmin;
  top: 20vmin;
  animation: morph-big 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 75% 55%;
  pointer-events: none;
}

.content__contact::before {
  content: "";
  width: 10vmax;
  height: 10vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  right: 20vmin;
  top: 60vmin;
  animation: morph-small 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 75% 55%;
  pointer-events: none;
}

@keyframes morph-big {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes morph-small {
  0% {
    border-radius: 50% 70% 70% 40% / 70% 40% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.content__contact--title {
  font-size: var(--h1-font-size);
  margin-bottom: 1em;
  display: block;
}

.content__contact-form--wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--white);
}

#contact {
  padding: 1.3em;
  margin: 3em 0;
}

#contact-form--container fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid var(--white);
  background: var(--background-color);
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #8a2387, #e94057, #c94b4b) 1;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--background-color);
  background-size: 100%;
  box-shadow: var(--shadow);
  border-radius: 2em;
  color: #fff;
  margin: 0 0 5px;
  padding: 1em;
  font-size: var(--normal-font-size);
  transition: all 0.5s ease;

  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(
      var(--background-color),
      var(--background-color)
    ),
    linear-gradient(90deg, #c94b4b, #8a2387, #e94057, #c94b4b);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

#contact button[type="submit"]:hover {
  background: linear-gradient(90deg, #c94b4b, #8a2387, #e94057, #c94b4b);
  background-size: 200%;
  scale: 1.03;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #8a2387, #e94057, #c94b4b) 1;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

/*======================================
                  FOOTER
======================================*/
.page__footer {
  position: relative;
  overflow-x: hidden;
  background: #0b0c0d;
}

.page__footer--bottom {
  position: relative;
  z-index: 5;
  padding: 60px;
  text-align: center;
  font-weight: 400;
}
.footer__bottom--text {
  display: inline-block;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.23em;
  margin-right: -0.23em;
  padding: 14px 0;
}

.zdog-canvas {
  padding-top: 60px;
  display: block;
  margin: 0 auto;
  cursor: move;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (min-width: 1200px) {
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
