/*=============== GOOGLE FONTS ===============*/
@import url(https://fonts.googleapis.com/css?family=Oxanium);


/*=============== VARIABLES CSS ===============*/
:root{

  /*========== Colors ==========*/
  --background-color: #131414;

  --navbar-color: rgba(15, 15, 15, 0.8);
  --navbar-collapsed: rgba(15, 15, 15, 0.8);
  --secondary-color: #4e111c;
  --white: #f6f3ed;

  --standard-transition: all 1s ease;

  --font-color: #f6f3ed;

  --shadow: 1px 1px 18px #080808;

  /*========== Hover project image ==========*/
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);


  /*========== Page Loader ==========*/
  --purple: #8A2387;
  --pinkish: #E94057;
  --orangeish: #c94b4b;
  --background-left: rgb(20, 20, 20);
  --background-right: rgb(6, 2, 20);
  
  --conic-gradient: conic-gradient(
    var(--pinkish), 
    var(--orangeish), 
    var(--purple),
    var(--pinkish)
  );


  /*========== Font and typography ==========*/
  --body-font: 'Oxanium', sans-serif;

  --h1-font-size: 2.25em;
  --h2-font-size: 1.5em;
  --h3-font-size: 1.25em;
  --smaller-font-size: .813em;
  --small-font-size: .875em;
  --normal-font-size: 1em;
  --medium-font-size: 1.5em;
  --big-font-size: 3.125em;
  --biggest-font-size: 4em;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-navbar: 6;

  /*========== Transitions ==========*/
  --standard-transition: all 0.5s ease;
}

/*=============== UNI ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--background-color);
	height: 100vh;
  color: var(--font-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a{
  text-decoration: none;
}

button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body::-webkit-scrollbar {
  display: none;
}


/*=============== NAVBAR ===============*/
/* .content__navbar {
  width: 100%;
  height: 100px;

  text-align: center;
  letter-spacing: 0.1em;
  font-size: var(--medium-font-size);
  z-index: var(--z-navbar);

  background: var(--navbar-color);
  box-shadow: var(--shadow);
  transform: translateY(0);
  transition: var(--standard-transition);
}

.content__navbar--fixed {
  position: fixed;
  margin: 0 auto;
  top: 0;
}

.content__navbar--hide {
  transform: translateY(-100px);
  transition: var(--standard-transition);
}

.content__navbar--list {
  list-style-type: none;
  height: fit-content;

	display: inline-flex;
  gap: 6.25em;
  color: inherit;
  -webkit-font-smoothing: antialiased;


  transform: translate(0%, 25%);
}

.content__navbar--list a{
  text-decoration: none;
  color: var(--font-color);
}

.navbar__list--item {
  height: 100%;
  overflow: hidden;
}

.content__navbar--list li {
  padding: 1em 0;
  text-transform: uppercase;
  position: relative;
}

.content__navbar--list ul li {
  display: inline;
}

.content__navbar--list li::before {
  content: '';
  position: absolute;
  height: 0.2em;
  width: 1em;
  left: 0;
  bottom: 0.8em;
  background: var(--conic-gradient); 
  transition: var(--standard-transition);
}

.content__navbar--list li:hover:before {
  width: 100%;
} */

/*=============== SOCIAL LINKS ===============*/
.content__social-links {
  position: fixed;
  top: 70vh;
  right: 2%;
  z-index: 1001;
}

.content__social-links li {
  margin: 1.25em 0;
}

.content__social-links ul {
  list-style-type: none;
}

.content__social-links .fab {
  font-size: 1.6em;
  color: #ecf5fe;
  transition: var(--standard-transition);
}

.content__social-links a:hover .fab {
  scale: 1.1;
  opacity: 0.95;
}

.content__social-links--hide {
  display: none;
}

/*=============== PAGE LOADER ===============*/
.page__loader {
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 1s ease;
  overflow: hidden;
}

.page__loader--button {
  position: absolute;
  z-index: 4;
  width: 30em;
  height: 3.75em;
  border-radius: 0.6em;
  padding-top: 1em;
  font-size: var(--h2-font-size);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page__loader--animate {
  opacity: 0;
}

.loader__circle--animate {
  animation: circleScale 1s;
}

.loader__circle {
  animation: rotate 10s linear infinite;
  background: var(--conic-gradient);
  border-radius: 70vh;
  display: grid;
  filter: blur(2.5vh);
  height: 70vh;
  place-items: center;
  position: relative;
  width: 70vh;
}

.loader__circle--inner {
  border-radius: inherit;
  inset: 5%;
  position: absolute;
}

.loader__circle--glow {
  animation: pulse 10s ease-in-out infinite;
  background: var(--conic-gradient);
  border-radius: 100vh;
  filter: blur(3vh);
  height: 120%;
  opacity: 0.25;
  width: 120%;
  z-index: 2;
}

.loader__circle--inner {
  background: linear-gradient(
    to right, 
    var(--background-left), 
    var(--background-right)
  );
  z-index: 3;
}

@keyframes circleScale {
  from {
    transform: scale(1);
  }
  to {
    scale: 5;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}


@keyframes pulse {
  from, 20%, 40%, 80%, to {
    transform: scale(1);
  }
  
  10%, 60% {
    transform: scale(1.1);
  }
}

/*=============== PAGE LOADER ===============*/
@keyframes blob__rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 270vh;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #161616, #161616);
  animation: blob__rotate 20s infinite;
  opacity: 0.8;
}

/*=============== PAGE LAYOUT ===============*/
main {
  overflow: hidden;
  grid-area: content; 
  
}

section, header {
  min-height: 100vh;
}


/*======================================
                  HERO
======================================*/
.content__hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.content__hero--content {
  text-align: center;
}

.content__hero--content h1, h2 {
  overflow: hidden;
  height: auto;
  position: relative; 
  font-size: var(--big-font-size);
  line-height: 1.2em;
  letter-spacing: 0.2em;
  z-index: 2; 
  margin: 0;
}

.content__hero--content p {
  font-size: var(--medium-font-size);
}

.content__hero--particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100%;
  overflow: hidden;
}

#hero__particles {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 50%;
  height: 40%;
  overflow: hidden;
}

.hero__particles--btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10em;
  margin: 0 auto;

  font-size: var(--small-font-size);
  color: var(--font-color);
  letter-spacing: 0.2em;
  text-transform: capitalize;
  width: 12em; 
  height: 3em;
  background: linear-gradient(90deg,#c94b4b,#8A2387, #E94057,#c94b4b);
  background-size: 300%;
  border-radius: 2em;
  z-index: 1;
}

.hero__particles--btn:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#c94b4b,#8A2387, #E94057,#c94b4b);
  background-size: 400%;
  border-radius: 2em;
  transition: 1s;
 }
 
.hero__particles--btn:hover::before {
  filter: blur(1.1em);
 }

.hero__particles--btn:hover {
  box-shadow: var(--conic-gradient);
}
 
.hero__particles--btn:hover {
  box-shadow: var(--conic-gradient);
}

.content__hero-arrow{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 2em;
  animation: arrowDown 1.4s infinite linear;
}

.arrowHide {
  display: none;
}

@keyframes arrowDown {
  0% {
    transform: translateY(-5px);
    opacity: 0.4;
  }
  10% {
    transform: translateY(-2px);
    opacity: 0.6;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(4px);
    opacity: 0.4;
  }
  80% {
    transform: translateY(6px);
    opacity: 0;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0;
  }
}

/*======================================
                  ABOUT
======================================*/
.content__about {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.content__about--title :not(.about__title--add) {

  font-size: var(--h1-font-size);
}

.about__title--add {
  font-size: var(--normal-font-size);
}

.content__about--list-wrapper {
  margin-top: 4em;
}
.about__list-wrapper--title {
  font-size: var(--h1-font-size);
}

.content__about--list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .content__about--list {
    flex-direction: row;
  }
}

.about__list--item {

  min-width: 30%;
  margin: 0.6em 1.8em 0 1.8em;
  font-size: var(--h2-font-size);
}

/*======================================
                PROJECTS
======================================*/
.content__projects {
  position: relative; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10em;
}

.projects__content--title {
  font-size: var(--h1-font-size);
  margin-bottom: 4em;
  display: block;
  text-align: center;
}

.content__projects--filters-list {
  text-align: center;
}

.content__projects--filters {
  margin-top: 1em;
}

.projects__filters--item {
  position: relative;
  list-style-type: none;
  display: inline;
  cursor: pointer;
  font-size: var(--normal-font-size);
  margin: 1em;
}

.projects__filters--item:after {
  content: '';
  position: absolute;
  height: 0.08em;
  width: 0;
  left: 0;
  bottom: -4px;
  background: var(--white);
  transition: var(--standard-transition);
}

.projects__filters--item:hover:after {
  width: 100%;
}

.projects__filters--item.active-filter {
  position: relative;
}

.projects__filters--item.active-filter:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 0.08em;
  background: var(--white);
  opacity: 1;
}

.content__projects--cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  max-width: 84em;
}

.projects__card--item {
  display: flex;

  margin: 1em;
  width: 28em;
  height: 28em;

  background: var(--background-color);
  border-radius: 0.25em;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.projects__card--content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card__content--image {
  background-image: url(/img/donbon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  filter: contrast(90%);
  overflow: hidden;
  position: relative;
  transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.projects__card--item:hover .card__content--image {
  filter: contrast(100%);
}

.card__content--image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card__content-bottom {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1em;
}

.card__content-bottom--title {
  color: var(--white);
  font-size: var(--h1-font-size);
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.card__content-bottom--desc {
  flex: 1 1 auto;
  font-size: var(--normal-font-size);
  line-height: 1.5;
  margin-bottom: 1.25em;
}

.card__content-bottom--button {
  font-size: var(--small-font-size);
  position: relative;
  color: var(--font-color);
  letter-spacing: 0.2em;
  width: 12em; 
  height: 3em;
  line-height: 2em;
  background: var(--background-color);
  background-size: 90%;
  box-shadow: var(--shadow);

  background-size: 210%;
  border-radius: 2em;
  transition: all 0.5s ease;
  -webkit-font-smoothing: antialiased;
}

.card__content-bottom--button:hover {
  background: linear-gradient(90deg,#c94b4b,#8A2387, #E94057,#c94b4b);
  background-size: 110%;
  scale: 1.03;
}

.card__content-bottom--button a {
  color: var(--font-color);
}

.card__content-bottom :not(.card__content-bottom--desc, .card__content-bottom--title) {
  justify-content: center;
  text-align: center;
  align-items: center;
}

/*======================================
                  SKILLS
======================================*/
.content__skills {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content__skills--title {
  font-size: var(--h1-font-size);
  margin-bottom: 1em ;
  display: block
}


/*======================================
                  CONTACT
======================================*/
.content__contact {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.content__contact-form--wrapper::after {
  width: 70vmin;
  height: 70vmin;
  position: relative;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 0% 2%; 
}


.content__contact {
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  position: relative; 
}

.content__contact::after {
  content: "";
  width: 35vmax;
  height: 35vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -40vmin;
  top: 20vmin;
  animation: morph-big 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 75% 55%;
  pointer-events: none; 
}

.content__contact::before {
  content: "";
  width: 10vmax;
  height: 10vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  right: 20vmin;
  top: 60vmin;
  animation: morph-small 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 75% 55%;
  pointer-events: none; 
}

@keyframes morph-big {
0% {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
100% {
  border-radius: 40% 60%; } 
}

@keyframes morph-small {
  0% {
    border-radius: 50% 70% 70% 40% / 70% 40% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
  }

@keyframes spin {
to {
  transform: rotate(1turn); 
} 
}

.content__contact--title {
  font-size: var(--h1-font-size);
  margin-bottom: 1em ;
  display: block
}

.content__contact-form--wrapper {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], 
#contact input[type="email"], 
#contact textarea, 
#contact button[type="submit"] { 
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--white);
}

#contact {

  padding: 1.3em;
  margin: 3em 0;
}

#contact-form--container fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], 
#contact input[type="email"], 
#contact textarea {
	width: 100%;
	border: 1px solid var(--white);
	background: var(--background-color);
	margin: 0 0 5px;
	padding: 10px;
}

#contact input[type="text"]:hover, 
#contact input[type="email"]:hover, 
#contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #8A2387, #E94057, #c94b4b) 1;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: var(--background-color);
  background-size: 100%;
  box-shadow: var(--shadow);
  border-radius: 2em;
	color:#FFF;
	margin: 0 0 5px;
	padding: 1em;
	font-size: var(--normal-font-size);
  transition: all 0.5s ease;
}

#contact button[type="submit"]:hover {
  background: linear-gradient(90deg,#c94b4b,#8A2387, #E94057,#c94b4b);
  background-size: 200%;
  scale: 1.03;
}

#contact button[type="submit"]:active { 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact input:focus, 
#contact textarea:focus {
	outline: 0;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #8A2387, #E94057, #c94b4b) 1;
}
::-webkit-input-placeholder {
 color: #888;
}
:-moz-placeholder {
 color: #888;
}
::-moz-placeholder {
 color: #888;
}
:-ms-input-placeholder {
 color: #888;
}


/*======================================
                  FOOTER
======================================*/
.page__footer {
  position: relative; 
  overflow-x: hidden;
  background: #0f1011;
}

.page__footer--bottom{
  position: relative;
  z-index: 5;
  padding: 60px;
  text-align: center;
  font-weight: 400;
}
.footer__bottom--text {
  display: inline-block;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .23em;
  margin-right: -0.23em;
  padding: 14px 0;
}

.zdog-canvas {
  padding-top: 60px;
  display: block;
  margin: 0 auto;
  cursor: move;
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media only screen and (min-width:1200px)  { 

}
@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */
 }
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
}


