@import url(https://fonts.googleapis.com/css?family=Oxanium);

:root{

    --background-color: #131414;
    --navbar-color: rgba(15, 15, 15, 0.8);
    --navbar-collapsed: rgba(15, 15, 15, 0.8);
    --secondary-color: #4e111c;

    --standard-transition: all 1s ease;

    --font-color: #fff;
  

    /* Loader colors */
    --purple: #8A2387;
    --pinkish: #E94057;
    --orangeish: #c94b4b;
    --background-left: rgb(20, 20, 20);
    --background-right: rgb(6, 2, 20);
    
    --conic-gradient: conic-gradient(
      var(--pinkish), 
      var(--orangeish), 
      var(--purple),
      var(--pinkish)
    );
  
  }
  
  
 * {
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Oxanium', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);

    scroll-behavior: smooth;

  }
  
  body {
    display: grid; /* or css grid for more intricate layouts */
    flex-direction: column;
    /* overflow: hidden; */
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* 
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--conic-gradient);
    border-radius: 10%;
  } */


/* Navbar */
.content__navbar {
  width: 100%;
  height: 100px;
  color: inherit;

  text-align: center;
  letter-spacing: 0.1em;
  font-size: 25px;
  z-index: 6;

  background: var(--navbar-color);
  box-shadow: 1px 1px 18px #080808;
  transform: translateY(0);
  transition: all 0.5s;
}

.content__navbar--fixed {
  position: fixed;
  margin: 0 auto;
  top: 0;
}

.content__navbar--hide {
  transform: translateY(-100px);
  transition: all 0.5s;
}


.content__navbar--list {
  list-style-type: none;
  height: fit-content;
	display: inline-flex;
  gap: 100px;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}

.content__navbar--list a{
  text-decoration: none;
  color: var(--font-color);
}

.navbar__list--item {
  height: 100%;
  overflow: hidden;
}

.content__navbar--list li {
  padding: 15px 0;
  text-transform: uppercase;
  position: relative;
}

.content__navbar--list ul li {
  display: inline;
}

.content__navbar--list li::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 15px;
  left: 0;
  bottom: 10px;
  background: var(--conic-gradient); 
  transition: all .3s ease;
}

.content__navbar--list li:hover:before {
  width: 100%;
}

/* Social links */
.content__social-links {
  width: 100px;
  height: 300px;
  display: flex;
  position: fixed;
  top: 78%;
  right: 0;
}

.content__social-links--hide {
  display: none;
}



.content__social-links--item {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.content__social-links--item .icon {
  top: 100%;
  left: 50%;
  font-size: 24px;
  color: var(--font-color);
  position: relative;
  transform: translate(-50%, -50%); 
}

.content__social-links--item:nth-child(1) {
  top: 10px;
}

.content__social-links--item:nth-child(2) {
  top: 50px;
}

.content__social-links--item:nth-child(3) {
  top: 90px;
}

.content__social-links--item:nth-child(4) {
  top: 130px;
}

.content__social-links--item:hover {
  scale: 1.1;
}

/* Page content */

.page__content {
  display: grid;
  justify-content: center;
  align-items: center;
}

.content__header {
  width: 100%;
  height: 100vh;
  max-width: 1000px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__header--content {
  position: absolute;
  text-align: center;

  margin-top: -150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: var(--standard-transition);
}

.content__header--content h1, h2 {
  overflow: hidden;
  height: auto;
  position: relative; 
  font-size: 50px;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  z-index: 2; 
  margin: 0;
  font-weight: 10;
  transition: var(--standard-transition);
}

.content__header--content p {
  font-size: 20px;
  transition: var(--standard-transition);
}

.content__header--particles {
  position: relative; 
  width: 900px;
  margin-top: -230px;
  transition: var(--standard-transition);
}

#header__particles {
  position: absolute;
  width: 100%;
  margin-left: -20px;
  margin-top: -130px;
  z-index: 1; 
  overflow: hidden;
  opacity: .6;
  transition: var(--standard-transition);
}

.particles__btn {
  position: absolute;
  bottom: 200px;
  margin-left: -195px;
  transition: var(--standard-transition);
}

.header__particles--btn {
  bottom: 25%;

  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: var(--font-color);
  letter-spacing: 0.2em;
  text-transform: capitalize;
  width: 12rem; 
  height: 3rem;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#c94b4b,#8A2387, #E94057,#c94b4b);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  cursor: pointer;
}

.header__particles--btn:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#c94b4b,#8A2387, #E94057,#c94b4b);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
 }
 
 .header__particles--btn:hover::before {
  filter: blur(20px);
 }
 
.header__particles--btn:hover {
  box-shadow: var(--conic-gradient);
}

.content__header--particles p {
  font-size: 20px;
}

.content__header-arrow{
  position: absolute;
  bottom: 20px;
  animation: arrowDown 1.4s infinite linear;
}

.arrowHide {
  display: none;
}

@keyframes arrowDown {
  0% {
    transform: translateY(-5px);
    opacity: 0.4;
  }
  10% {
    transform: translateY(-2px);
    opacity: 0.6;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(4px);
    opacity: 0.4;
  }
  80% {
    transform: translateY(6px);
    opacity: 0;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0;

  }
  
}

.content__about {
  width: 100%;
  padding: 2rem 6rem;
}

.content__about--title {
  font-size: 30px;
  padding-bottom: 3rem;
}

.content__about--title p {
  margin: 0 auto;
}

.about__title--add {
  margin: 0 auto;
  font-size: 19px;
}

.about__title--technologies {
  font-size: 24px;
}

.content__about--content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 10px;
  font-size: 20px;
}

.about__content--item-1 { grid-area: 1 / 1 / 2 / 2; }
.about__content--item-2 { grid-area: 1 / 2 / 2 / 3; }
.about__content--item-3 { grid-area: 1 / 3 / 2 / 4; }


/* Loader */
.page__loader {
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 1s ease;
  overflow: hidden;
}

.page__loader--button {
  position: absolute;
  z-index: 4;
  width: 480px;
  height: 60px;
  border-radius: 0.6rem;
  padding-top: 15px;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.page__loader--animate {
  opacity: 0;
}

.loader__circle--animate {
  animation: circleScale 1s;
}

.loader__circle {
  animation: rotate 10s linear infinite;
  background: var(--conic-gradient);
  border-radius: 70vh;
  display: grid;
  filter: blur(2.5vh);
  height: 70vh;
  place-items: center;
  position: relative;
  width: 70vh;
}

.loader__circle--inner {
  border-radius: inherit;
  inset: 5%;
  position: absolute;
}

.loader__circle--glow {
  animation: pulse 10s ease-in-out infinite;
  background: var(--conic-gradient);
  border-radius: 100vh;
  filter: blur(3vh);
  height: 120%;
  opacity: 0.25;
  width: 120%;
  z-index: 2;
}

.loader__circle--inner {
  background: linear-gradient(
    to right, 
    var(--background-left), 
    var(--background-right)
  );
  z-index: 3;
}

@keyframes circleScale {
  from {
    transform: scale(1);
  }
  to {
    scale: 5;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from, 20%, 40%, 80%, to {
    transform: scale(1);
  }
  
  10%, 60% {
    transform: scale(1.1);
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
 
  .content__header--particles {
    width: 600px;
    margin-left: 20px;
    bottom: -80px;
    transition: all 1s ease;
  }

  .content__header--content h1,
  .content__header--content h2,
  .content__header--content p {
    scale: 0.8;
    transition: all 1s ease;
  }

  .particles__btn {
    scale: 0.9;
    margin-right: -20px;
    transition: all 1s ease;
  }

  .page__loader--background {
    scale: 0.8;
  }

  .page__loader--button {
    scale: 0.8;
  }

  .content__navbar--list {
    width: 200px;
    height:fit-content;
    display: list-item;
  }

  .content__navbar--list li::before {
    width: 0px;
  }
  .content__navbar--collapsed {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .content__navbar--collapsed.active {
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-collapsed);

    animation: slidingDown 0.6s;
  }

  .content__navbar--collapsed.hidding {
    animation: slidingUp 0.6s;
  }

  @keyframes slidingDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes slidingUp {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  .content__navbar--collapse {
    display: none;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -65px;
    right: 15px;
    display: block;
    margin: 100px auto 50px auto;
    z-index: 1001;
  }

  .content__navbar--collapse .line {
    display: block;
    background: #ecf0f1;
    width: 40px;
    height: 3px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
 }

  .content__navbar--collapse .line.line-1 {
    top: 0;
 }

  .content__navbar--collapse .line.line-2 {
    top: 10px;
 }

  .content__navbar--collapse .line.line-3 {
    top: 20px;
 }

  .content__navbar--collapse:hover .line-1, .content__navbar--collapse:focus .line-1 {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
 }

  .content__navbar--collapse:hover .line-3, .content__navbar--collapse:focus .line-3 {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
 }

  .content__navbar--collapse.collapsed .line-1 {
    transform: translateY(5px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(5px) translateX(0) rotate(45deg);
    -moz-transform: translateY(5px) translateX(0) rotate(45deg);
 }

  .content__navbar--collapse.collapsed .line-2 {
    opacity: 0;
 }

  .content__navbar--collapse.collapsed .line-3 {
    transform: translateY(-15px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-15px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-15px) translateX(0) rotate(-45deg);
 }
}

/* Mobile */
@media screen and (max-width: 480px) { 

}
